<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="arcore-it-plugin"
    version="1.0.0">
    <name>Cordova ARCore Plugin of Impacto Tecnologico</name>
    <description>Wrapper for ARCore</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/impactotecnologico/ionic-cordova-plugin-template.git</repo>
    

    <!-- android -->
    <platform name="android">

      <!--
      <framework src="com.google.ar.sceneform.ux:sceneform-ux:1.10.0" />
      <framework src="com.android.support:appcompat-v7:28.0.0" />
      <framework src="com.android.support.constraint:constraint-layout:1.1.0" />
      -->

      <framework src="src/android/arit.gradle" custom="true" type="gradleReference" />
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- Este es el nombre por el cual se accedera el plugin -->
        <clobbers target="ARCITPlugin" />
      </js-module>
      
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ARCITPlugin">
          <param name="android-package" value="net.impactotecnologico.ionic.plugin.arcit.ARCITPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
            <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
      </config-file>

      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
        <activity
                android:label="ImageRecognitionActivity"
                android:name="net.impactotecnologico.ionic.plugin.arcit.ImageRecognitionActivity"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden" >
        </activity>
      </edit-config>

      <!-- 
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
            
      </config-file>
      -->

      <!-- carga de clases -->
      <source-file src="src/android/java/net/impactotecnologico/ionic/plugin/arcit/ARCITPlugin.java" target-dir="src/android/net/impactotecnologico/ionic/plugin/arcit/" />
      <source-file src="src/android/java/net/impactotecnologico/ionic/plugin/arcit/ImageRecognitionActivity.java" target-dir="src/android/net/impactotecnologico/ionic/plugin/arcit/" />
      <source-file src="src/android/java/net/impactotecnologico/ionic/plugin/arcit/CustomArFragment.java" target-dir="src/android/net/impactotecnologico/ionic/plugin/arcit/" />
      <!-- carga de recursos -->
      <source-file src="src/android/res/layout/activity_ux.xml" target-dir="res/layout"/>
      <source-file src="src/android/res/raw/reloj.sfb" target-dir="res/raw"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="MiPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="MiPlugin">
                <param name="ios-package" value="MiPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/MiPlugin.h" />
        <source-file src="src/ios/MiPlugin.m" />
    </platform>
</plugin>
