<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="arcore-it-plugin"
    version="1.0.0">
    <name>Cordova ARCore Plugin of Impacto Tecnologico</name>
    <description>Wrapper for ARCore</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/impactotecnologico/ionic-cordova-plugin-template.git</repo>
    

    <!-- android -->
    <platform name="android">

      <framework src="src/android/arit.gradle" custom="true" type="gradleReference" />
      <js-module src="www/plugin.js" name="ARCITPlugin">
        <runs/>

        <!-- Este es el nombre por el cual se accedera el plugin -->
        <clobbers target="ARCITPlugin" />
      </js-module>
      
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ARCITPlugin">
          <param name="android-package" value="net.impactotecnologico.ionic.plugin.arcit.ARCITPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <config-file parent="/app/src/main/" target="AndroidManifest.xml"></config-file>

      <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
            <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
      </config-file>

      <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application/">
        <meta-data android:name="com.google.ar.core" android:value="required" />
        <activity
                android:label="ImageRecognitionActivity"
                android:name="net.impactotecnologico.ionic.plugin.arcit.ImageRecognitionActivity"
                android:theme="@style/AppFullScreenTheme"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden" >
                <intent-filter>
                  <action android:name="net.impactotecnologico.ionic.plugin.arcit.ImageRecognitionActivity" />
                  <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
        </activity>
        <activity
                android:label="PlaneOverlayActivity"
                android:name="net.impactotecnologico.ionic.plugin.arcit.PlaneOverlayActivity"
                android:theme="@style/AppFullScreenTheme"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden" >
                <intent-filter>
                  <action android:name="net.impactotecnologico.ionic.plugin.arcit.PlaneOverlayActivity" />
                  <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
        </activity>
        <activity
                android:label="ChromaKeyVideoActivity"
                android:name="net.impactotecnologico.ionic.plugin.arcit.ChromaKeyVideoActivity"
                android:theme="@style/AppFullScreenTheme"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden" >
                <intent-filter>
                  <action android:name="net.impactotecnologico.ionic.plugin.arcit.ChromaKeyVideoActivity" />
                  <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
        </activity>
      </config-file>  


      <!-- carga de clases -->
      <source-file src="src/android/java/net/impactotecnologico/ionic/plugin/arcit/ARCITPlugin.java" target-dir="src/android/net/impactotecnologico/ionic/plugin/arcit/" />
      <source-file src="src/android/java/net/impactotecnologico/ionic/plugin/arcit/ImageRecognitionActivity.java" target-dir="src/android/net/impactotecnologico/ionic/plugin/arcit/" />
      <source-file src="src/android/java/net/impactotecnologico/ionic/plugin/arcit/PlaneOverlayActivity.java" target-dir="src/android/net/impactotecnologico/ionic/plugin/arcit/" />
      <source-file src="src/android/java/net/impactotecnologico/ionic/plugin/arcit/ChromaKeyVideoActivity.java" target-dir="src/android/net/impactotecnologico/ionic/plugin/arcit/" />
      <source-file src="src/android/java/net/impactotecnologico/ionic/plugin/arcit/CustomArFragment.java" target-dir="src/android/net/impactotecnologico/ionic/plugin/arcit/" />
      <!-- carga de recursos -->
      <source-file src="src/android/res/layout/activity_ux.xml" target-dir="res/layout"/>
      <source-file src="src/android/res/layout/activity_video.xml" target-dir="res/layout"/>
      <source-file src="src/android/res/layout/activity_plane.xml" target-dir="res/layout"/>
      <source-file src="src/android/res/raw/reloj.sfb" target-dir="res/raw"/>
      <source-file src="src/android/res/raw/chroma.mp4" target-dir="res/raw"/>
      <source-file src="src/android/res/values/styles.xml" target-dir="res/values"/>
      <source-file src="src/android/res/raw/bienvenida.jpg" target-dir="res/raw"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="MiPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="MiPlugin">
                <param name="ios-package" value="MiPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/MiPlugin.h" />
        <source-file src="src/ios/MiPlugin.m" />
    </platform>
</plugin>
